/* counter.component.css */
.tick {
    font-size: 1rem;
    white-space: nowrap;
    font-family: arial, sans-serif;
    width: auto;
    height: 60px;
    z-index: 0;
  }
  
  .tick-flip,
  .tick-text-inline {
    font-size: 2.5em;
  }
  
  .tick-label {
    margin-top: 1em;
    font-size: 1em;
    color: #595d63 !important;
  }
  
  .tick-char {
    width: 1.5em;
  }
  
  .tick-text-inline {
    display: inline-block;
    text-align: center;
    min-width: 1em;
    color: #595d63 !important;
  }
  
  .tick-text-inline + .tick-text-inline {
    margin-left: -0.325em;
  }
  
  .tick-group {
    margin: 0 0.5em;
    text-align: center;
  }
  
  body {
    background-color: rgb(237, 222, 255) !important;
  }
  
  .tick-flip-panel {
    color: #fff !important;
    background-color: #3c3e3c !important;
  }
  
  .tick-flip {
    border-radius: 0.12em !important;
  }
  
  .tick-flip-panel-text-wrapper {
    line-height: 1.45 !important;
  }
  