plinko{
    width:100vw;
    height: 90vh;
    top:0;
    position: absolute;
    z-index: -1;
}

app-upgrades{
    width: 25%;
    margin-right: 5%;
    margin-left: 50%
}

app-typing-stats{
    width: 25%;
    margin-left: 5%
}

app-autotyper{
    text-align: left;
}

.flex-container {
    display: flex;
    padding-bottom: 20px;
}

/* :host {
    display: block;
    height: 100vh;
    width: 100vw;
} */