/* Plinko board stays fixed in the background */
plinko {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: transparent; 
  }
  
  /* Sizing for other app components */
  app-upgrades {
    width: 25%;
    height: 90vh;
    margin-right: 5%;
    margin-left: 50%;
  }
  
  app-typing-stats {
    width: 25%;
    margin-left: 5%;
  }

  .left-column{
    width: 30%;
  }
  
  .flex-container {
    display: flex;
  }
  
  .typer-container {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 1000;
    pointer-events: none;
  }
  
  /* Adjust sizing for mobile screens */
  @media screen and (max-width: 600px) {
    .typer-container {
      top: 10%;
    }
  }

  @media screen and (max-width: 600px) {
    app-typing-stats {
      display: none !important;
    }
  }

  @media screen and (max-width: 600px) {
    app-upgrades {
      display: none !important;
    }
  }
  