
#canvas-container{
    height: 66vh;
}

/* mobile screens */
@media screen and (max-width: 800px) {
    #canvas-container{
        width: 100%;
        height: 66vh;
    }
  }

/* desktop screens */
@media screen and (min-width: 800px) {

    #canvas-container{
        width: 100%;
    }
    
}