/* Button styling */
.button2 {
  border-radius: 6px;
  border: 0px;
  border-color: black;
  box-sizing: border-box;
  color: var(--color-upgrade-text);
  background: var(--color-upgrade-bg);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  touch-action: manipulation;
  margin-bottom: 20px;
}


.button2:active {
    box-shadow: none;
}

.button2:hover{
    background-color:rgb(174, 174, 174)
}

/* Text and title styling */
.title{
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.text{
    padding-left: 16px;
    padding-right: 16px;
}