<!-- Background menu -->
<div class="menu">
  <!-- Make the title -->
  <p class="title">
      Upgrades Menu
    </p>  <p class="error" *ngIf="not_enough_money">
      Not enough money to purchase
    </p>
    <!-- Every two buttons go in a button row -->
    <p class ="button-row">
      <a class="button1" (click)="buyUpgrade(upgrades.HEAVY_BALL_MULTIPLIER)">
        <div>Heavier Ball</div>
        <!-- Changes the color and weight of the cost to make it stand out -->
        <div class="cost">${{ getCost(upgrades.HEAVY_BALL_MULTIPLIER)}}</div>
        <!-- Icon from fontawesome -->
        <div><i class="fas fa-weight-hanging"></i></div>
      </a>
    
      <a class="button1" (click)="buyUpgrade(upgrades.INVERSE_BOUNCE_MULTIPLER)">
        <div>Less Bounce</div>
        <div class="cost">${{ getCost(upgrades.INVERSE_BOUNCE_MULTIPLER)}}</div>
        <i class="fa-solid fa-frog"></i>
      </a>
    </p>
    
    <p class ="button-row">
      <a class="button1" (click)="buyUpgrade(upgrades.SMALL_BALL_MULTIPLER)">
        <div>Shrink Ball</div>
        <div class="cost">${{ getCost(upgrades.SMALL_BALL_MULTIPLER)}}</div>
        <i class="fa-solid fa-minimize"></i>
      </a>
    
      <a class="button1" (click)="buyUpgrade(upgrades.NEW_TEST)">
        <div>New Test</div>
        <div class="cost">${{ getCost(upgrades.NEW_TEST)}}</div>
        <i class="fa-solid fa-font"></i>
      </a>
    </p>
  
    <p class ="button-row">
      <a class="button1" (click)="buyUpgrade(upgrades.AUTOTYPER)">
        <div>Auto Typer</div>
        <div class="cost" >${{ getCost(upgrades.AUTOTYPER)}}</div>
        <i class="fa-solid fa-robot"></i>
      </a>
      <a class="button1" (click)="buyUpgrade(upgrades.BUCKET_VAL_MULTIPLIER)">
        <div>Better Buckets</div>
        <div class="cost">${{ getCost(upgrades.BUCKET_VAL_MULTIPLIER)}}</div>
        <i class="fa-solid fa-bucket"></i>
      </a>
    
    </p>
  
    <p class ="button-row" style="padding-bottom: 10px;">
      <a class="button1" (click)="buyUpgrade(upgrades.AUTOTYPER_SPEED)">
       <div>Faster Auto Typers</div>
       <div class="cost">${{ getCost(upgrades.AUTOTYPER_SPEED)}}</div>
       <i class="fa-solid fa-gauge-high"></i>
      </a>
      <a class="button1" (click)="buyUpgrade(upgrades.REMOVE_PEG)">
        <div>Remove Peg</div>
        <div class="cost">${{ getCost(upgrades.REMOVE_PEG)}}</div>
        <i class="fa-solid fa-xmark"></i>
      </a>
    
    </p>
  </div>