<p style="padding-left: 30%;">
    Upgrades Menu
  </p>
  
  <p style="display: flex">
    <a class="button1" (click)="buyUpgrade(upgrades.HEAVY_BALL_MULTIPLIER)">
      Heavier Ball ${{ getCost(upgrades.HEAVY_BALL_MULTIPLIER)}}
    </a>
  
    <a class="button1" (click)="buyUpgrade(upgrades.INVERSE_BOUNCE_MULTIPLER)">
      Less Bounce ${{ getCost(upgrades.INVERSE_BOUNCE_MULTIPLER)}}
    </a>
  </p>
  
  <p style="display: flex">
    <a class="button1" (click)="buyUpgrade(upgrades.SMALL_BALL_MULTIPLER)">
      Shrink Ball ${{ getCost(upgrades.SMALL_BALL_MULTIPLER)}}
    </a>
  
    <a class="button1" (click)="buyUpgrade(upgrades.NEW_TEST)">
      New Test ${{ getCost(upgrades.NEW_TEST)}}
    </a>
  </p>
  