.big-icon {
font-size: 2rem;
transition: font-size 0.3s ease;
color: red;
}

.small-icon {
font-size: 1rem;
transition: font-size 0.3s ease;
}

.stats{
    background-color: var(--color-menu);
    border-radius: 10px;
    height: 200px;

  display: flex;
  flex-direction: column;     
  justify-content: center;       
  align-items: center;      

  text-align: center;          
  margin-left: 5%;
  margin-right: 5%;
  gap: 2px;
}

#title{
    text-align: center; 
    padding-top: 10px; 
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 5px;
}

#chars, #wpm, #seconds {
    margin-top: 5px;
  }

.outside-divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 10px auto;
    width: 80%;
  }
  
  .stats-divider {
    border: none;
    height: 2px;
    background-color: var(--color-divider);
    width: 80%;
    margin: 0 auto 10px auto;
  }