p {
    width: 100%;
    text-align: center;
    z-index: 0;
}
.not-typed{
    color: var(--color-text);
}
.typed{
    color: var(--color-typed);
}
.blinking-cursor {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    vertical-align: bottom;
    background-color: black;
    animation: blink 1s step-start infinite;
  }  
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

.title{
  text-align: center;

  font-size: 1.4em;
}

i{
  font-size: 0.8em;
}